/*Styles the navigation pane */
nav  ul {
    display: flex;
    background-color: yellow;
    font-weight: bold;
    color: white;
    list-style-type: none;
    margin: 0px;
    text-decoration: none;
}

nav li {
    all: inherit;
    padding: 1em;
    width: 80%;
}
