/* Styles the footer */

footer {
    all: initial;
    display: flex;
    min-height: 100vh;  /*100% of viewport height */
}

footer p {
    padding-right: 5em;
    margin-top: auto;
    margin-bottom: 10px;
    padding-left: 5em;
    font-size: 20px;
    color:rgb(4, 24, 4);
}
